extends layout.pug

block content
  .row
    .card
      form(action="/poll/"+data._id, method="POST")
        .card-content
          span.card-title
            h2=data.name
          div.row
            div.col.s12.m12
              each option, index in data.options
                p
                  input(name="option", id=option.name, type='radio', value=index)
                  label(for=option.name, class="black-text")=option.value
          .card-action
            button(type="submit", class="btn blue view--submit-vote-btn")
              i.fa.fa-paper-plane
  .row
    .card
      .card-content
        canvas(id="myChart", widht="200", height="200")
                
block scripts
  script(src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.min.js")
  script.
    var names=!{optionNames}
    var values=!{optionValues}
  script(src="/js/view_poll.js")
          